---
import BaseLayout from "../layouts/BaseLayout.astro";
import HourglassBottomIcon from "@mui/icons-material/HourglassBottom";
import AddReactionIcon from "@mui/icons-material/AddReaction";
import DevicesIcon from "@mui/icons-material/Devices";
import { features, offers } from "../data/features";
import { projects } from "../data/portfolio";
import FeatureCard from "../components/FeatureCard";
import BeenhereIcon from "@mui/icons-material/Beenhere";
import ProjectCard from "../components/ProjectCard.astro";
---

<BaseLayout title="Welcome">
  <main>
    <section>
      <h2>Custom Designs, Custom Coded</h2>
      <h1>Small Business Web Designer</h1>
      <p>
        No page builders or WordPress. We offer 100% hand-coded websites with
        superior results starting at $175/mo as well as Google Ads and SEO
        services.
      </p>
      <button>Get Started</button>
      <a href="/about">About Us</a>
    </section>

    <section>
      <h2>What We Do</h2>
      <h1>Never Worry About Your Website Ever Again</h1>
      <p>
        At Oak Harbor Web Designs, we specialize in small business web design
        and development for clients anywhere in the US and Canada. Every line of
        code is written by hand to ensure the best performance and make Google
        happy, which helps bring in more customers to your site and bring more
        revenue to your business. We also manage the edits for you and will
        never leave you high and dry. Our goal is to create long term
        relationships with our clients and see them grow over time.
      </p>
    </section>

    <section>
      {features.map((f) => <FeatureCard feature={f} />)}
    </section>

    <section>
      <h3>What We Offer</h3>
      <h1>Websites Starting At $0 Down And $175 Per Month</h1>
      <p>
        We offer $0 down for a standard 5 page small business website. If you
        need more than that then we have to do custom pricing based on the scope
        of work, number of additional pages, and time involved. 12 month minimum
        contract. Includes design, development, hosting, unlimited edits, 24/7
        support, and lifetime updates.
      </p>
      {
        offers.map((o) => (
          <div>
            <BeenhereIcon />
            <h2>{o.header}</h2>
            <p>{o.description}</p>
          </div>
        ))
      }
    </section>

    <a href="/contact">Reach Out To Us Today</a>

    <section>
      <h3>Portfolio</h3>
      <h1>Some Of The Work We’ve Done Over The Years</h1>
      <p>
        We have worked with clients all over the US and Canada for home services
        contractors, restaurants, consulting agencies, start ups,
        dermatologists, doctors, accountants, and more. No matter what your
        business is, we can build a website that is effective, beautiful,
        performant, and tailored to your industry.
      </p>

      <div>
        {projects.map((p) => <ProjectCard project={p} />)}
      </div>
    </section>

    <section>
      <div>
        <h3>Performance</h3>
        <h1>We Build Better Websites That Perform</h1>
        <p>
          When it comes to website load times, not very many can get the Google
          PageSpeed scores that we get with each and every site. Test your
          website load times with Google PageSpeed Insights and see what your
          current site is scoring right now.
        </p>
        <div>
          <HourglassBottomIcon />
          <p>
            Better load times means more traffic and more site conversions over
            time.
          </p>
        </div>
        <div>
          <AddReactionIcon />
          <p>
            Faster websites can help improve SEO and your Google ads
            performance.
          </p>
        </div>
        <div>
          <DevicesIcon />
          <p>
            Our sites load instantly in under 1 second or less, which leads to a
            better user experience and conversions.
          </p>
        </div>
        <div>
          <a href="/pricing">See Our Pricing</a>
          <a href="/contact">Get Started Today</a>
        </div>
      </div>
    </section>
  </main>
</BaseLayout>
