<div class="text-center border-t-2 border-gray-500 mt-10 py-4">
  <p>© Copyright 2024 <a href="/">One OK Web Design</a></p>
  <p><a href="/privacy-policy">Privacy Policy</a> | <a href="/terms-of-use">Terms Of Use</a></p>
</div>